[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
aiosqlite = "==0.17.0"
async-timeout = "==4.0.2"
attrs = "==21.4.0"
autopep8 = "==1.6.0"
bs4 = "==0.0.1"
charset-normalizer = "==2.0.12"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
